@import './variables';
@import './_animations';

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  background: $background;
}

input, textarea {
  border: none;
  border-bottom: 1px solid $dark;
  padding-bottom: 1px;
  padding: 0 10px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-bottom: 2px solid $dark;
    padding-bottom: 0;
  }

  &[type="submit"] {
    cursor: pointer;
    border-bottom: none;
  }
}

h1, h2, h3, h4, h4, p, li, a, label {
  line-height: 1.2;
  font-weight: bold;
  color: $dark;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3, label {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
  font-weight: normal;
}

.page-title {
  font-size: 3rem;
  text-align: center;
  margin: 20px auto;
}

button {
  height: 50px;
  min-width: 140px;
  border-radius: 5px;
  background: $secondary;
  color: $lightest;
  font-size: 1.4rem;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 0 30px;

  &:focus {
    outline: none;
  }

  &:hover {
    animation-name: pulse;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
  }

  &.warning {
    background: crimson;
  }
}

.vdp-datepicker {
  > div {
    &:first-child {
      height: 100%;
    }

    input {
      height: 100%;
      width: 100%;
      font-size: 1.8rem;
    }
  }
}

.input-container {
  .time-picker {
    width: 100%;
    height: 50px;
    font-size: 2rem;
  
    input.display-time,
    input.display-time {
      border: none;
      border-bottom: 1px solid $dark;
      padding-bottom: 1px;
      padding: 0 10px;
      box-sizing: border-box;
      width: 100%;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}